@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @RenderSection("styles", required: false)
}

<div class="jumbotron">
    <div class="row">
        <h2 class="col-sm-9">@ViewBag.Username</h2>
        <img src="@ViewBag.AvatarPath" alt="@ViewBag.Username" class="col-sm-3 pull-right img-responsive img-thumbnail img-circle" />
    </div>
    <div class="row">
        @RenderSection("profileNavigation", required: true)
    </div>
</div>

@RenderBody()

@section scripts{
    @RenderSection("scripts", required: false)
}
