@using Microsoft.AspNet.Identity

@if(Request.IsAuthenticated)
{
    using(Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>@Html.RouteLink("Tell Story", new { Area = "", Controller = "Story", Action = "Create" }, null)</li>
            <li>@Html.RouteLink("User Feed", new { Area = "", Controller = "Feed", Action = "Index", username = User.Identity.GetUserName() }, new { })</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@User.Identity.GetUserName()<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.RouteLink("Public profile", new { Area = "User", Controller = "Info", Action = "Index", username = User.Identity.GetUserName() }, new { })
                    </li>
                    <li>
                        @Html.RouteLink("Edit public profile", new { Area = "User", Controller = "Profile", Action = "Edit", username = User.Identity.GetUserName() }, new { })
                    </li>
                    <li>
                        @Html.RouteLink("Manage account", new { Area = "", Controller = "Manage", Action = "Index" }, new { })
                    </li>
                    <li class="divider"></li>
                    @if(User.IsInRole("Admin"))
                    {
                        <li>
                            @Html.RouteLink("Administration", new { Area = "Admin", Controller = "Users", Action = "Index" }, new { })
                        </li>
                        <li class="divider"></li>
                    }
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", null, new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", null, new { id = "loginLink" })</li>
    </ul>
}
