@using Microsoft.AspNet.Identity

@if(Request.IsAuthenticated)
{
    using(Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav collapse navbar-collapse navbar-right">
            <li>@Html.RouteLink("Tell Story", new { Area = "", Controller = "Story", Action = "Create" }, null)</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Stories<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.RouteLink("Subscriptions", new { Area = "", Controller = "Feed", Action = "Index", id = User.Identity.GetUserName() }, new { })
                    </li>
                    <li>
                        @Html.RouteLink("Saved for later", new { Area = "", Controller = "Feed", Action = "ReadLater", id = User.Identity.GetUserName() }, new { })
                    </li>
                    <li>
                        @Html.RouteLink("Favorites", new { Area = "", Controller = "Feed", Action = "Favorites", id = User.Identity.GetUserName() }, new { })
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="@((new Teller.Data.TellerData(new Teller.Data.TellerDbContext())).Users.All().Single(u => u.UserName == User.Identity.Name).UserInfo.AvatarPath)" alt="@(User.Identity.Name)" class="img-responsive img-circle img-thumbnail" style="max-height: 22px;" />
                    @User.Identity.GetUserName()
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.RouteLink("Public profile", new { Area = "User", Controller = "UserInfo", Action = "Index", id = User.Identity.GetUserName() }, new { })
                    </li>
                    <li>
                        @Html.RouteLink("Edit public profile", new { Area = "User", Controller = "UserInfo", Action = "Edit", id = User.Identity.GetUserName() }, new { })
                    </li>
                    <li>
                        @Html.RouteLink("Manage account", new { Area = "", Controller = "Manage", Action = "Index" }, new { })
                    </li>
                    <li class="divider"></li>
                    @if(User.IsInRole("Admin"))
                    {
                        <li>
                            @Html.RouteLink("Administration", new { Area = "Admin", Controller = "AdminUsers", Action = "Index" }, new { })
                        </li>
                        <li class="divider"></li>
                    }
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav collapse navbar-collapse navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", new { Area = "" }, new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { Area = "" }, new { id = "loginLink" })</li>
    </ul>
}
