@model Teller.Web.ViewModels.Home.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="row">
        <span class="col-md-10 text-right right-border">
            <span class="clearfix">
                <small>Read a story</small>
            </span>
            <span class="clearfix">
                <small>Tell a story</small>
            </span>
        </span>
        <span class="col-md-2 text-left">
            <span class="clearfix">@string.Empty</span>
            <span class="clearfix">
                Teller
            </span>
        </span>
    </h1>
</div>

<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <div class="well">
            <h4 class="lead">Most commented stories this week</h4>
            @Html.Partial("_StorySummaryPartial", Model.MostCommentedStoriesLastWeek)
        </div>

        <div class="well">
            <h4 class="lead">Most voted on stories this week</h4>
            @Html.Partial("_StorySummaryPartial", Model.MostVotedStoriesLastWeek)
        </div>

        <div class="well">
            <h4 class="lead">Most commented stories ever</h4>
            @Html.Partial("_StorySummaryPartial", Model.MostCommentedStoriesEver)
        </div>

        <div class="well">
            <h4 class="lead">Most voted on stories ever</h4>
            @Html.Partial("_StorySummaryPartial", Model.MostVotedStoriesEver)
        </div>
    </div>
</div>

@section styles{
    <style type="text/css">
        .right-border {
            border-right: 1px solid #999;
        }
    </style>
}