@model Teller.Web.Models.PostComment

<div class="row">
    <div class="col-md-12">
        @Html.ValidationSummary()
    </div>
    <div class="col-md-12">
        @using(Ajax.BeginForm("Post",
                   new { Area = "", Controller = "StoryComments", Action = "Post" },
                   new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.InsertBefore, UpdateTargetId = "comments-container", OnSuccess = "clearContent" },
                   new { @class = "form-horizontal col-md-12" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @Html.HiddenFor(m => Model.StoryId)
            <div class="col-md-12">
                <div class="form-group">
                    @Html.TextAreaFor(m => Model.CommentContent, new { @class = "form-control", style = "max-width: 100%", id = "new-comment-content-container" })
                    @Html.ValidationMessageFor(m => Model.CommentContent, "", new { @class = "help-inline" })
                    <span class="input-group-btn">
                        <input type="submit" value="Comment" class="btn btn-default pull-right" style="height: 100%" />
                    </span>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @Scripts.Render("~/bundle/jqueryval");
    <script type="text/javascript">
        function clearInput() {
            $('#new-comment-content-container').val('');
        }
    </script>
}