@model Teller.Web.ViewModels.Search.SearchStoryViewModel
@using Teller.Web.Infrastructure
@{
    var urlGenerator = new UrlGenerator();
}

<div class="row">
    <div class="col-md-4">
        <img src="@Model.PicturePath" alt="@Model.Title" class="img-responsive img-circle img-thumbnail" style="max-width: 100px"/>
    </div>
    <div class="col-md-8">
        <h4>
            @Html.ActionLink(Model.Title, "Index", "Story", new { Area = "", id = urlGenerator.GenerateUrlId(Model.Id, Model.Title) }, new { })
            <small> (@Model.Genre)</small>
        </h4>
        <p>@Html.Raw(Model.Content)</p>
        <p class="text-right">
            <small>@Html.DisplayFor(m => Model.DatePublished) | @Html.ActionLink(Model.Author, "Index", "Story", new { Area = "User", id = Model.Author }, new { })</small>
        </p>
    </div>
</div>
