@model Teller.Web.ViewModels.Story.UserFeedStory
@using Teller.Web.Infrastructure.UrlGeneratotrs
@{
    var urlGenerator = new UrlGenerator();
}

<div>
    <div class="col-sm-2">
        <img src="@Model.PicturePath" alt="@Model.Title" class="img-responsive img-circle img-thumbnail" style="max-width: 100px" />
    </div>
    <div class="col-sm-10">
            <h4>
                @Html.ActionLink(Model.Title, "Index", "Story", new { Area = "", id = urlGenerator.GenerateUrlId(Model.Id, Model.Title) }, new { })
                <small> (@Model.Genre)</small>
            </h4>
            <p>@Html.Raw(Model.Content)</p>
        <div>
            <p class="">
                <span class="col-sm-1 text-center glyphicon glyphicon-thumbs-down"> @Model.DislikesCount</span>
                <span class="col-sm-1 text-center glyphicon glyphicon-thumbs-up"> @Model.LikesCount</span>
                <span class="col-sm-1 text-center glyphicon glyphicon-comment"> @Model.CommentsCount</span>
                <span class="col-sm-1 text-center glyphicon glyphicon-user"> @Model.ViewsCount</span>
            </p>
            <p class="pull-right">
                <small>@Html.DisplayFor(m => Model.DatePublished) | @Html.ActionLink(Model.Author, "Index", "Info", new { Area = "User", id = Model.Author }, new { })</small>
            </p>
        </div>
    </div>
</div>
