@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/Kendo")
}

<h2 class="lead text-center">Administration</h2>

<div class="k-toolbar k-grid-toolbar k-grid-top">
    @Html.ActionLink("Users", "Index", "Users", new { Area = "Admin" }, new { @class = "btn btn-default k-button" })
    @Html.ActionLink("Stories", "Index", "Stories", new { Area = "Admin" }, new { @class = "btn btn-default k-button" })
    @Html.ActionLink("Series", "Index", "Series", new { Area = "Admin" }, new { @class = "btn btn-default k-button" })
    @Html.ActionLink("Comments", "Index", "Comments", new { Area = "Admin" }, new { @class = "btn btn-default k-button" })
    @Html.ActionLink("Genres", "Index", "Genres", new { Area = "Admin" }, new { @class = "btn btn-default k-button" })
    @Html.ActionLink("Flags", "Index", "Flags", new { Area = "Admin" }, new { @class = "btn btn-default k-button" })
</div>

@RenderBody()

@section scripts{
    @Scripts.Render("~/bundles/Kendo")
    <script type="text/javascript">
        $(document).ready(function () {
            kendo.culture('en-GB');
        })
    </script>
    @RenderSection("scripts", required: false)
}
