@model Teller.Web.Areas.User.ViewModels.UserStoriesViewModel
@{
    ViewBag.Title = "Stories - " + ViewBag.Username;
    var pager = new Teller.Web.ViewModels.FeedPagerViewModel()
    {
        Area = "User",
        Action = "Index",
        Controller = "Story",
        PagesCount = (int)ViewBag.Pages,
        Page = (int)ViewBag.Page,
        Id = ViewBag.Username
    };
}

@section profileNavigation {
    <div class="btn-group">
        <div class="pull-left">
            @Html.ActionLink("Series", "Index", "Series", new { Area = "User", id = ViewBag.Username }, new { @class = "btn btn-default btn-block" })
        </div>
        <div class="pull-left">
            @Html.ActionLink("Info", "Index", "Info", new { Area = "User", id = ViewBag.Username }, new { @class = "btn btn-default btn-block" })
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-offset-1 col-sm-10 well">
        <h2 class="row text-center">
            <span class="col-sm-offset-1 col-sm-10">@Model.Username's stories</span>
        </h2>
        <div class="row">
            @if(Model.Stories.Count() == 0)
            {
                <h3 class="lead text-center">
                    No stories were found
                </h3>
            }
            else
            {
                foreach(var story in Model.Stories)
                {
                    <div class="col-md-12">
                        @Html.DisplayFor(m => story)
                    </div>
                }
            }
        </div>
    </div>
        @if(ViewBag.Pages > 1)
        {
            <div class="well-sm">
                <div class="row">
                    <h3 class="lead">
                        @Html.Partial("_Pager", pager)
                    </h3>
                </div>
            </div>
        }
</div>
