@model Teller.Web.Areas.User.ViewModels.UserInfoViewModel
@{
    ViewBag.Title = "User series - " + ViewBag.Username;
}

@section profileNavigation {
    @Html.ActionLink("Info", "Index", "Info", new { Area = "User", id = ViewBag.Username }, new { @class = "btn btn-default" })
    @Html.ActionLink("Stories", "Index", "Story", new { Area = "User", id = ViewBag.Username }, new { @class = "btn btn-default" })
}

<div class="row">
    <div class="col-sm-offset-1 col-sm-10 well">
        <h2 class="row text-center">
            <span class="col-sm-offset-1 col-sm-10">User's series</span>
        </h2>
        <div class="row text-center">
            <div class="col-sm-6">
                <div class="row">
                    <p class="col-sm-offset-1 col-sm-10">
                        <span class="glyphicon glyphicon-book"></span>
                        <strong>@Model.StoriesCount</strong>
                        <em>stories</em>
                    </p>
                </div>
                <div class="row">
                    <p class="col-sm-offset-1 col-sm-10">
                        <span class="glyphicon glyphicon-heart-empty"></span>
                        <strong>@Model.StoryFavorites</strong>
                        <em>favorites</em>
                    </p>
                </div>
                <div class="row">
                    <p class="col-sm-offset-1 col-sm-10">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <strong>@Model.StoryLikes</strong>
                        <em>likes</em>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="row">
                    <p class="col-sm-offset-1 col-sm-10">
                        <span class="glyphicon glyphicon-user">
                            <a href="@Model.Facebook"> Facebook</a>
                        </span>
                    </p>
                </div>
                <div class="row">
                    <p class="col-sm-offset-1 col-sm-10">
                        <span class="glyphicon glyphicon-user">
                            <a href="@Model.GooglePlus"> GooglePlus</a>
                        </span>
                    </p>
                </div>
                <div class="row">
                    <p class="col-sm-offset-1 col-sm-10">
                        <span class="glyphicon glyphicon-user">
                            <a href="@Model.Twitter"> Twitter</a>
                        </span>
                    </p>
                </div>
                <div class="row">
                    <p class="col-sm-offset-1 col-sm-10">
                        <span class="glyphicon glyphicon-user">
                            <a href="@Model.YouTube"> YouTube</a>
                        </span>
                    </p>
                </div>
                <div class="row">
                    <p class="col-sm-offset-1 col-sm-10">
                        <span class="glyphicon glyphicon-user">
                            <a href="@Model.LinkedIn"> LinkedIn</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
