@model Teller.Web.Areas.User.ViewModels.UserSeriesViewModel
@{
    ViewBag.Title = "Series - " + ViewBag.Username;
    var pager = new Teller.Web.ViewModels.FeedPagerViewModel()
    {
        Area = "User",
        Action = "Index",
        Controller = "Series",
        PagesCount = (int)ViewBag.Pages,
        Page = (int)ViewBag.Page,
        Id = ViewBag.Username
    };
}

@section profileNavigation {
    <div class="btn-group">
        <div class="pull-left">
            @Html.ActionLink("Stories", "Index", "Story", new { Area = "User", id = ViewBag.Username }, new { @class = "btn btn-default" })
        </div>
        <div class="pull-left">
            @Html.ActionLink("Info", "Index", "Info", new { Area = "User", id = ViewBag.Username }, new { @class = "btn btn-default" })
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-offset-1 col-sm-10 well">
        <h2 class="row text-center">
            <span class="col-sm-offset-1 col-sm-5 text-right">@Model.Username's series</span>
        </h2>
        <div class="row text-center">
            @if(Model.Series.Count() == 0)
            {
                <h3 class="lead text-center">
                    No series were found
                </h3>
            }
            else
            {
                foreach(var series in Model.Series)
                {
                    <div class="col-md-12">
                        @Html.DisplayFor(m => series)
                    </div>
                }
            }
        </div>
    </div>
    @if(ViewBag.Pages > 1)
    {
        <div class="well-sm">
            <div class="row">
                <h3 class="lead">
                    @Html.Partial("_Pager", pager)
                </h3>
            </div>
        </div>
    }
</div>
