@model Teller.Web.ViewModels.Pager.SearchPagerViewModel
@{
    int startPage = 1;
    int endPage = Model.PagesCount;

    if (Model.Page <= 2)
    {
        startPage = 1;
        endPage = 5;
    }
    else if (Model.Page + 2 > Model.PagesCount)
    {
        startPage = Model.PagesCount - 4;
        endPage = Model.PagesCount;
    }
    else
    {
        startPage = Model.Page - 2;
        endPage = Model.Page + 2;
    }

    startPage = Math.Max(1, startPage);
    endPage = Math.Min(endPage, Model.PagesCount);
}

<span class="pull-right btn-group">
    @if (ViewBag.Page > 1)
    {
        @Html.ActionLink("<<", Model.Action, Model.Controller, new { Area = Model.Area, pattern = Model.Pattern, page = 1 }, new { @class = "btn btn-sm btn-default" })
    }
    else
    {
        @Html.ActionLink("<<", null, null, new { }, new { @class = "btn btn-sm btn-default disabled" })
    }

    @if (ViewBag.Page > 1)
    {
        @Html.ActionLink("<", Model.Action, Model.Controller, new { Area = Model.Area, pattern = Model.Pattern, page = Model.Page - 1 }, new { @class = "btn btn-sm btn-default" })
    }
    else
    {
        @Html.ActionLink("<", null, null, new { }, new { @class = "btn btn-sm btn-default disabled" })
    }

    @for (int i = startPage; i <= endPage; i++)
    {
        if (ViewBag.Page != i)
        {
            @Html.ActionLink(i.ToString(), Model.Action, Model.Controller, new { Area = Model.Area, pattern = Model.Pattern, page = i }, new { @class = "btn btn-sm btn-default" })
        }
        else
        {
            @Html.ActionLink(i.ToString(), null, null, new { }, new { @class = "btn btn-sm btn-default disabled" })
        }
    }

    @if (ViewBag.Page != ViewBag.Pages)
    {
        @Html.ActionLink(">", Model.Action, Model.Controller, new { Area = Model.Area, pattern = Model.Pattern, page = Model.Page + 1 }, new { @class = "btn btn-sm btn-default" })
    }
    else
    {
        @Html.ActionLink(">", null, null, new { }, new { @class = "btn btn-sm btn-default disabled" })
    }

    @if (ViewBag.Page != ViewBag.Pages)
    {
        @Html.ActionLink(">>", Model.Action, Model.Controller, new { Area = Model.Area, pattern = Model.Pattern, page = Model.PagesCount }, new { @class = "btn btn-sm btn-default" })
    }
    else
    {
        @Html.ActionLink(">>", null, null, new { }, new { @class = "btn btn-sm btn-default disabled" })
    }

    @Html.ActionLink(string.Format("Page {0} / {1}", Model.Page, Model.PagesCount), null, null, new { }, new { style = "min-width: 100px", @class = "btn btn-sm btn-default disabled" })
</span>
