@model Teller.Web.ViewModels.Search.SearchViewModel
@{
    ViewBag.Title = "Search results";
}

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="well-sm">
            <div class="row">
                <h3 class="lead">
                    <span class="pull-left">
                        Search results for "@Model.Pattern"
                    </span>
                    @if(ViewBag.Pages > 1)
                    {
                        @Html.Partial("_SearchPager", new Teller.Web.ViewModels.SearchPagerViewModel()
                        {
                            Area = "",
                            Action = "Index",
                            Controller = "Search",
                            PagesCount = (int)ViewBag.Pages,
                            Page = (int)ViewBag.Page,
                            Pattern = Model.Pattern
                        })
                    }
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="well">
                    <h5 class="lead">Series</h5>
                    <div>
                        @Html.Partial("_SeriesSummaryPartial", Model.Series)
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <h5 class="lead">Users</h5>
                    <div>
                        @Html.Partial("_UsersSummaryPartial", Model.Users)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h5 class="lead">Stories</h5>
                    <div>
                        @Html.Partial("_StorySummaryPartial", Model.Stories)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
