@model Teller.Web.ViewModels.Search.SearchViewModel
@{
    ViewBag.Title = "Search results";
    var pager = new Teller.Web.ViewModels.Pager.SearchPagerViewModel()
    {
        Area = "",
        Action = "Index",
        Controller = "Search",
        PagesCount = (int)ViewBag.Pages,
        Page = (int)ViewBag.Page,
        Pattern = Model.Pattern
    };
}

<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <div class="well-sm">
            <div class="row">
                <h3 class="lead">
                    <span class="pull-left">
                        Search results for "@Model.Pattern"
                    </span>
                    @if(ViewBag.Pages > 1)
                    {
                        @Html.Partial("_SearchPager", pager)
                    }
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h5 class="lead">Stories</h5>
                    <div>
                        @Html.Partial("_StorySummaryPartial", Model.Stories)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="well">
                    <h5 class="lead">Series</h5>
                    <div>
                        @Html.Partial("_SeriesSummaryPartial", Model.Series)
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h5 class="lead">Users</h5>
                    <div>
                        @Html.Partial("_UsersSummaryPartial", Model.Users)
                    </div>
                </div>
            </div>
        </div>
        <div class="well-sm">
            @if(ViewBag.Pages > 1)
            {
                <div class="row pull-right">
                    @Html.Partial("_SearchPager", pager)
                </div>
            }
        </div>
    </div>
</div>
