@model Teller.Web.Areas.User.ViewModels.Info.UserInfoViewModel
@{
    ViewBag.Title = "Profile - " + Model.Username;
}

@section profileNavigation {
    <div class="btn-group">
        <div class="pull-left">
            @Html.ActionLink("Stories", "Index", "Story", new { Area = "User", id = Model.Username }, new { @class = "btn btn-default" })
        </div>
        <div class="pull-left">
            @Html.ActionLink("Series", "Index", "Series", new { Area = "User", id = Model.Username }, new { @class = "btn btn-default" })
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-offset-1 col-sm-10 well">
        <h2 class="row">
            <span class="col-sm-offset-3 col-sm-9">@Model.Username's information</span>
        </h2>
        <div class="row">
            <p>
                <div class="col-sm-3 text-right">Motto:</div>
                <div class="col-sm-9 text-left">@Model.Motto</div>
            </p>
        </div>
        <div class="row">
            <p>
                <div class="col-sm-3 text-right">Description:</div>
                <div class="col-sm-9 text-left">@Html.Raw(Model.Description)</div>
            </p>
        </div>
        <div class="row">
            <p>
                <div class="col-sm-3 text-right">Registered:</div>
                <div class="col-sm-9 text-left">@Html.DisplayFor(m => m.RegisteredOn)</div>
            </p>
        </div>
        <div class="row">
            <p>
                <div class="col-sm-3 text-right">Stories:</div>
                <div class="col-sm-9 text-left">
                    <span class="glyphicon glyphicon-book"></span>
                    <strong>@Model.StoriesCount</strong>
                    <em>stories</em>
                </div>
            </p>
        </div>
        <div class="row">
            <p>
                <div class="col-sm-3 text-right">Favorited:</div>
                <div class="col-sm-9 text-left">
                    <span class="glyphicon glyphicon-heart-empty"></span>
                    <strong>@Model.StoryFavorites</strong>
                    <em>favorites</em>
                </div>
            </p>
        </div>
        <div class="row">
            <p>
                <div class="col-sm-3 text-right">Liked:</div>
                <div class="col-sm-9 text-left">
                    <span class="glyphicon glyphicon-thumbs-up"> </span>
                    <strong>@Model.StoryLikes</strong>
                    <em>likes</em>
                </div>
            </p>
        </div>
        @if (!string.IsNullOrEmpty(Model.Facebook))
        {
            <div class="row">
                <p>
                    <div class="col-sm-3 text-right">Facebook:</div>
                    <div class="col-sm-9 text-left">
                        <span class="glyphicon glyphicon-user">
                            <a href="@Model.Facebook"> Facebook</a>
                        </span>
                    </div>
                </p>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.GooglePlus))
        {
            <div class="row">
                <p>
                    <div class="col-sm-3 text-right">GooglePlus:</div>
                    <div class="col-sm-9 text-left">
                        <span class="glyphicon glyphicon-user">
                            <a href="@Model.GooglePlus"> GooglePlus</a>
                        </span>
                    </div>
                </p>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Twitter))
        {
            <div class="row">
                <p>
                    <div class="col-sm-3 text-right">Twitter:</div>
                    <div class="col-sm-9 text-left">
                        <span class="glyphicon glyphicon-user">
                            <a href="@Model.Twitter"> Twitter</a>
                        </span>
                    </div>
                </p>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.YouTube))
        {
            <div class="row">
                <p>
                    <div class="col-sm-3 text-right">YouTube:</div>
                    <div class="col-sm-9 text-left">
                        <span class="glyphicon glyphicon-user">
                            <a href="@Model.YouTube"> YouTube</a>
                        </span>
                    </div>
                </p>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.LinkedIn))
        {
            <div class="row">
                <p>
                    <div class="col-sm-3 text-right">LinkedIn:</div>
                    <div class="col-sm-9 text-left">
                        <span class="glyphicon glyphicon-user">
                            <a href="@Model.LinkedIn"> LinkedIn</a>
                        </span>
                    </div>
                </p>
            </div>
        }
    </div>
</div>
